<%- include("partials/header") %>

<div class="container">
    <div class="row mt-4">
        <div class="col-6 show_image-container">
            <img src="<%= candle.image_link %>">
        </div>
        <div class="col-6 show_details-container">
            <h1><%= candle.title %></h1>
            <p><%= candle.description %></p>
            <table class="table">
                
                <tbody>
                  
                    <tr>
                        <th scope="row">Brand</th>
                        <td><%= candle.brand %></td>
                      </tr>
                    <tr>
                        <th scope="row">Scent</th>
                        <td><%= candle.scent %></td>
                    </tr>

                    <tr>
                        <th scope="row">Made In</th>
                        <td><%= candle.origin %></td>   
                    </tr>

                  

                  
                </tbody>
              </table>

              <a href="/candles/<%= candle._id %>/edit"><button class="btn btn-outline-info btn-lg btn-block mb-2">Edit</button></a>

              <form action="/candles/<%= candle._id %>?_method=DELETE" method="POST">
                
                <button type="submit" class="btn btn-outline-danger btn-lg btn-block">
                    Delete
                </button> 
              </form> 


        </div>
    </div>
    <div class="row show_comment-header mt-3 col-3">
        LEAVE COMMENT BELOW
    </div>
    <% foundComments.forEach((comment) => { %>
        <div class="row show_comment-container py-2">
            <div class="col3">
                <%= comment.user %>
            </div>
            <div class="col-9">
                <%= comment.text %>
            </div>
        </div>
    <% }) %>
    
</div>

<%- include("partials/footer") %>